@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* gray-600 */
  --foreground-rgb: #1f2937;
  /* gray-50 */
  --background-rgb: #f9fafb;
}

body {
  color: var(--foreground-rgb);
  background: var(--background-rgb);
}
